<div class="fixed">
    <div class="nav">
        <div class="nav-item">
            <span class="avatar">
                    <img src="./assets/img/avatar.jpg" alt="">
                </span>
        </div>
        <div class="nav-item">
            <a routerLink="/attention" routerLinkActive="active"> <span class="attention ">关注</span></a>

        </div>
        <div class="nav-item">
            <a routerLink="/found" routerLinkActive="active"> <span class="found chosen">发现</span></a>

        </div>
        <div class="nav-item">
            <a routerLink="/purchase" routerLinkActive="active"><span class="purchase">购买</span></a>

        </div>
        <div class="nav-item">
            <span><i class="iconfont icon-xiangji"></i></span>
        </div>
    </div>
    <div class="search">
        <div class="search-box">
            <div class="input-container">
                <span class="sousuo-img"><i class="iconfont icon-sousuo"></i></span>
                <input type="search" placeholder="搜索笔记、商品和用户">
            </div>
        </div>
    </div>

</div>